
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: "Open Sans";
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

i {
    margin: 0, 20px;
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0vw; */
    padding-top: 2vh;
    padding-bottom: 2vh;
    background-color: white;
    width: 100%;
    height: 10vh;
}

.logo-img {
    height: 8vh;
    padding-right: 5vw;
}

.navbar {
    position: relative;
    display: inline-block;
    padding-left: 5vw;
}

.dropdown-btn {
    position: absolute;
    border: none;
    color: black;
    cursor: pointer;
    background-color: white;
}

.dropdown-menu-content {
    display: none;
    background-color: #f9f9f9;
    position: relative;
    list-style: none;
    text-align: center;
}

/* content-1 */
.content-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image-slider {
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90vh;
    font-family: "Lato";
    color: white;
    font-size: 10vh;
    text-align: center;
    animation: slider 10s forwards infinite;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@keyframes slider {
    0% {
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
          ), url("./assets/slider/slider-5.png");
    }

    25% {
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
          ), url("./assets/slider/slider-6.jpg");
    }

    50% {
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
          ), url("./assets/slider/slider-3.png");
    }

    75% {
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
          ), url("./assets/slider/slider-4.png");
    }

    100% {
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
          ), url("./assets/slider/slider-5.png");
    }
}

/* content-2 */
.content-2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.title-content-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 5vw;
}

.jewelry-btn-content-2 {
    border-radius: 10px;
    border: none;
    height: 8vh;
    width: 20vw;
    background-color: #F1ACA2;
    color: black;
    font-size: 2vh;
}

.content-2 img {
    border-radius: 10px;
    border: none;
    height: 50vh;
    padding-right: 5vw;
}

/* footer */
footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #F1ACA2;
    height: 15vh;
}

footer img {
    height: 3vh;
}