
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: "Open Sans";
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

i {
    margin: 0, 20px;
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2vh;
    padding-bottom: 2vh;
    background-color: #FFF9B0;
    width: 100%;
    height: 10vh;
}

header ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header ul li {
    display: block;
    position: relative;
    list-style: none;
}

header ul li a {
    color: black;
    text-decoration: none;
    padding: 5px 10px;
}

header ul li a:hover{
    background-color: #FF577F;
    border-radius: 5px;
}

header ul li ul {
    display: none;
}

header ul li:hover ul {
    display: block;
    position: absolute;
    margin-top: 5px;
    background-color: #F1ACA2;
    border-radius: 5px;
    width: 15vw;
    padding: 1vw 1vh;
    box-shadow: 0px 20px 100px 0px rgba(0, 0, 0, 0.5);
}

header ul li ul li {
    padding-top: 1vh;
}

.logo-img {
    height: 8vh;
    padding-right: 5vw;
}

/* banner */
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Lato";
    font-size: 5vh;
    color: white;
    text-align: center;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./assets/slider/banner-menu.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* content-1 */
.content-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Lato";
}

.image-slider {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 90vh;
    cursor: pointer;
}

.image-slider img {
    width: 100%;
    height: 100%;
}

/* content-2 */
.content-2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.title-content-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 5vw;
}

.title-content-2 button, .white-gold-btn, .yellow-gold-btn, .category-white-opt input, .category-yellow-opt input {
    border-radius: 10px;
    border-color: #FF884B;
    height: 8vh;
    width: 20vw;
    background-color: #FFF9B0;
    color: black;
    font-size: 2vh;
}

.content-2 img {
    border-radius: 10px;
    border: none;
    height: 50vh;
    padding-right: 5vw;
}

/* footer */
footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #FFF9B0;
    height: 15vh;
}

footer img {
    height: 3vh;
}

/* jewelry page */
/* choose-gold */

.choose-gold, .jewelry-product, .white-gold-opt, .yellow-gold-opt {
    display: flex;
    justify-content: center;
    align-items: center;
}

.choose-gold {
    height: 100vh;
}

.choose-gold, .white-gold-opt, .yellow-gold-opt {
    flex-direction: column;
}

.white-gold-opt, .yellow-gold-opt {
    padding: 0vh 10vw 10vh 10vw;
}

.white-gold-opt img, .yellow-gold-opt img {
    height: 25vh;
}

.white-gold-btn, .category-white-opt input {
    background-color: white;
}

.yellow-gold-btn, .category-yellow-opt input {
    background-color: yellow;
}

/* items */
/* .white-gold-items, .yellow-gold-items {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.white-gold-items .row-1, .white-gold-items .row-2, .yellow-gold-items .row-1, .yellow-gold-items .row-2 {
    display: none;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.white-gold-items img, .yellow-gold-items img {
    width: 15vw;
} */

/* category */
.category-white, .category-yellow {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.category-white a, .category-yellow a {
    padding: 0vh 1vw;
}

.category-white-row, .category-yellow-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.jewelry-white-product, .jewelry-yellow-product {
    display: none;
}

/* about-us */
.about-us-content-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0vh 5vw 0vh 5vw;
    text-align: center;
    height: 100vh;
}

.about-us-content-1 img {
    height: 20vh;
}

/* promotions */
.promotions {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

/* form */
.membership-form, .membership-form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#username, #email, #password, #confirm-password, #city, #address {
    border-radius: 10px;
    border-color: #FF884B;
    width: 50vw;
    height: 4vh;
}

#submit {
    border-radius: 10px;
    border-color: #FF884B;
    height: 4vh;
    width: 20vw;
    background-color: #FFF9B0;
    color: black;
    font-size: 2vh;
}